/* main grid */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* top nav */
.navbar {
    width: 100%;
    height: 70px;
    overflow: hidden;
    /* position: fixed;  */
    /* top: 0;  */
    background-color: white;
}

/* side bar menu grid */
.side-menu {
    display: grid;
    grid-auto-rows: 50px;
    grid-row-gap: 8px;
    padding: 1rem;

}

/* menu item buttons */
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

:hover.item {
    background-color: lightgray;
}


/* main content area */
.main {
    background-color: #e84a5f;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* product listing grid */
.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: min-content;
    padding: 2rem;
}

/* individual product card */
.product {
    border: solid white;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 1rem;
}

:hover.product {
    cursor: pointer;
}

.price {
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

.selected {
    border: solid yellow;
}

/* product info right side */
.product-info {
    padding: 1rem;
    background-color: pink;
    display: grid;
    grid-auto-rows: min-content;
    justify-content: center;
    grid-row-gap: 1rem;
    text-align: center;
}

.product-selected {
    background-color: white;
    height: 200px;
    width: 200px;
    justify-self: center;
    border-radius: 8px;
}

li {
    list-style-type: none;
    text-align: start;
}

.btn {
    background-color: #81b214;
    border-radius: 20px;
    border: none;
    padding: 1rem;
    justify-self: center;
}