<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/svg" href="images/money.svg">
    <title>Weekly Specials</title>    
  </head>
  <body>
    <div class="navbar navbar-static-top">
    </div>
    <div class="wrapper">
        <div class="side-menu">
            <div class="item snacks">
                Snacks
            </div>
            <div class="item veggies">
                Veggies
            </div>
            <div class="item drinks">
                Drinks
            </div>
        </div>
        <script>
           var products = <%- JSON.stringify(info) %>;
        </script>
        <div class="main">
            <div class="products">
                <div class="product">
                    <img class="prod-img" src="https://d2g5na3xotdfpc.cloudfront.net/images/products/160x170/347421001_ea65855b67831fa.jpg">
                    <p>Coles Australian Lamb Whole Leg Roast</p>
                </div>
                <div class="product"></div>
                <div class="product"></div>
                <div class="product"></div>
                <div class="product"></div>
                <div class="product"></div>
            </div>

            <div class="product-info">
                <h1>Shopping List</h1>

                <ul class="shopping-list">

                </ul>
                <p class="total-cost"></p>

                <!-- <div class="product-selected"></div>
                <h2>$2.99 each</h2>
                <p>Category: Snack</p>
                <p>Product Varieties: 5</p> -->
                <button class="btn btn-success copy">Copy</button>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="index.js"></script> 
    </body>
</html>